<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
      Userprofile
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Name">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email">
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a DOB date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="IC Number">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Phone Number">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Company Number">
        </mat-form-field>

        <h5>Gender</h5>
        <mat-radio-group>
          <mat-radio-button value="1">Male</mat-radio-button>
          <mat-radio-button value="2">Female</mat-radio-button>
        </mat-radio-group>

        <h5>Marital Status</h5>
        <mat-form-field>
          <select matNativeControl required>
            <option value="married">Married</option>
            <option value="single">Single</option>
          </select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Address">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Address 2">
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <input matInput placeholder="City">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Postcode">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Country">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="State">
        </mat-form-field>

        <h5>Education</h5>
        <div style="margin-left:2em;">
            <div formArrayName="education_information" *ngFor="let item of form.get('education_information').controls; let i = index;">
                <div [formGroupName]="i">

                    <ion-grid>
                        <ion-row>
                            <ion-col col-2>
                                <mat-form-field>
                                    <input matInput placeholder="qualification">
                                  </mat-form-field>
                            </ion-col>
                            <ion-col col-2>
                                <mat-form-field>
                                    <input matInput placeholder="major">
                                  </mat-form-field>
                            </ion-col>
                            <ion-col col-2>
                                <mat-form-field>
                                    <input matInput placeholder="univerity">
                                  </mat-form-field>
                            </ion-col>
                            <ion-col col-2>
                                <mat-form-field>
                                    <input matInput placeholder="year">
                                  </mat-form-field>
                            </ion-col>
                            <ion-col col-2>
                                <button mat-icon-button color="warn"
                                    *ngIf="form.get('education_information').controls.length > 1" (click)="removeLevel(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </ion-col>
                        </ion-row>
                      </ion-grid>  

                </div>
            </div>
            <button type="button" mat-mini-fab color="accent" (click)="addLevel()"> <mat-icon>add</mat-icon></button>
        </div>

        <h5>Spouse</h5>
        <div style="margin-left:2em;">
            <div formArrayName="spouse_information" *ngFor="let item of form.get('spouse_information').controls; let i = index;">
                <div [formGroupName]="i">

                    <ion-grid>
                        <ion-row>
                            <ion-col col-2>
                                <mat-form-field>
                                    <input matInput placeholder="name">
                                  </mat-form-field>
                            </ion-col>
                            <ion-col col-2>
                                <mat-form-field>
                                    <input matInput placeholder="IC number">
                                  </mat-form-field>
                            </ion-col>
                            <ion-col col-2>
                                <button mat-icon-button color="warn"
                                    *ngIf="form.get('spouse_information').controls.length > 1" (click)="removeLevel(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </ion-col>
                        </ion-row>
                      </ion-grid>  

                </div>
            </div>
            <button type="button" mat-mini-fab color="accent" (click)="addLevel()"> <mat-icon>add</mat-icon></button>
        </div>


        <h5>Child</h5>
        <div style="margin-left:2em;">
            <div formArrayName="child_information" *ngFor="let item of form.get('child_information').controls; let i = index;">
                <div [formGroupName]="i">

                    <ion-grid>
                        <ion-row>
                            <ion-col col-2>
                                <mat-form-field>
                                    <input matInput placeholder="name">
                                  </mat-form-field>
                            </ion-col>
                            <ion-col col-2>
                                <mat-form-field>
                                    <input matInput placeholder="IC number">
                                  </mat-form-field>
                            </ion-col>
                            <ion-col col-2>  
                                <mat-form-field>
                                    <select matNativeControl required>
                                      <option value="male">Male</option>
                                      <option value="female">Female</option>
                                    </select>
                                  </mat-form-field>
                            </ion-col>
                            <ion-col col-2>
                                <button mat-icon-button color="warn"
                                    *ngIf="form.get('child_information').controls.length > 1" (click)="removeLevel(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </ion-col>     
                        </ion-row>
                      </ion-grid>  

                </div>
            </div>
            <button type="button" mat-mini-fab color="accent" (click)="addLevel()"> <mat-icon>add</mat-icon></button>
        </div>
  
      </div>

  </form>

</ion-content>

