<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
        Leave Type
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Leave Type" formControlName="leaveType" readonly>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Leave Entitlement Code" formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Entitlement Description" formControlName="description"></textarea>
        </mat-form-field>

        <h3>Leave Configuration</h3>
        <div formGroupName="properties">
            <mat-radio-group formControlName="apply_in_advance">
                <p>Apply in Advanced</p>
                <mat-radio-button value=true>Yes</mat-radio-button>
                <mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>

            <mat-radio-group formControlName="apply_next_year">
                <p>apply_next_year</p>
                <mat-radio-button value=true>Yes</mat-radio-button>
                <mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>

            <mat-radio-group formControlName="claim_entitlement">
                <p>claim_entitlement</p>
                <mat-radio-button value=true>Yes</mat-radio-button>
                <mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>

            <mat-radio-group formControlName="apply_halfday">
                <p>apply_halfday</p>
                <mat-radio-button value=true>Yes</mat-radio-button>
                <mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>

            <mat-radio-group formControlName="attachment_required">
                <p>attachment_required</p>
                <mat-radio-button value=true>Yes</mat-radio-button>
                <mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>

            <br><br>
            <h5>Apply Before</h5>
            <div style="margin-left:2em;" formGroupName="apply_before">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Number of Day(s)" formControlName="day">
                </mat-form-field>

                <div formGroupName="allow_shortnotice">
                        <mat-radio-group formControlName="value">
                            <p>Allow Short Notice</p>
                            <mat-radio-button value=true>Yes</mat-radio-button>
                            <mat-radio-button value=false>No</mat-radio-button>
                        </mat-radio-group>

                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Notice" formControlName="notice">
                        </mat-form-field>
                </div>

                <h6>Exclusion</h6>
                <div formGroupName="exclusion">
                    <mat-radio-group formControlName="rest_day">
                        <p>Rest Day</p>
                        <mat-radio-button value=true>Yes</mat-radio-button>
                        <mat-radio-button value=false>No</mat-radio-button>
                    </mat-radio-group>
    
                    <mat-radio-group formControlName="holiday">
                        <p>Holiday</p>
                        <mat-radio-button value=true>Yes</mat-radio-button>
                        <mat-radio-button value=false>No</mat-radio-button>
                    </mat-radio-group>

                </div>
            </div>

            <br><br>
            <h5>Apply More Than Balance</h5>
            <div style="margin-left:2em;" formGroupName="apply_more_than_balance">
                <mat-radio-group formControlName="value">
                    <p>apply_more_than_balance</p>
                    <mat-radio-button value=true>Yes</mat-radio-button>
                    <mat-radio-button value=false>No</mat-radio-button>
                </mat-radio-group>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Convert To" formControlName="convert_to">
                </mat-form-field>
            </div>

            <br><br>
            <h5>Allow Cancel After Start Date</h5>
            <div style="margin-left:2em;" formGroupName="allow_cancel_after_startdate">
                <mat-radio-group formControlName="value">
                    <p>allow_cancel_after_startdate</p>
                    <mat-radio-button value=true>Yes</mat-radio-button>
                    <mat-radio-button value=false>No</mat-radio-button>
                </mat-radio-group>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Notice" formControlName="notice">
                </mat-form-field>
            </div>

            <br><br>
            <h5>Working Year</h5>
            <div style="margin-left:2em;">
                <div formArrayName="levels" *ngFor="let item of form.get('properties.levels').controls; let i = index;">
                    <div [formGroupName]="i">

                        <ion-grid>
                            <ion-row>
                                <ion-col col-3>
                                    <mat-form-field>
                                        <input matInput placeholder="level" formControlName="levelid">
                                     </mat-form-field>
                                </ion-col>
                                <ion-col col-3>
                                    <mat-form-field>
                                        <input matInput placeholder="Entitle Days" formControlName="entitled_days">
                                    </mat-form-field>
                                </ion-col>
                                <ion-col col-3>
                                    <mat-form-field>
                                        <input matInput placeholder="Carry Forward" formControlName="carry_forward">
                                    </mat-form-field>
                                </ion-col>
                                <ion-col col-2>
                                    <button mat-icon-button color="warn"
                                        *ngIf="form.get('properties.levels').controls.length > 1" (click)="removeLevel(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </ion-col>
                            </ion-row>
                         </ion-grid>  

                    </div>
                </div>
                <button type="button" mat-mini-fab color="accent" (click)="addLevel()"> <mat-icon>add</mat-icon></button>
            </div>
        </div>
        
    </div>
    <div style="text-align:center;">
        <button style="margin-top:3em;" type="submit" [disabled]="!form.valid" mat-flat-button color="primary">Submit</button>
    </div>
</form>
</ion-content>