<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cost Centre Setup
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-row>
    <ion-item>
      <button type="button" mat-flat-button color="primary" [routerLink]="['/cost-centre-setup-edit']">Add</button>
    </ion-item>
  </ion-row>
    <div class="example-container">
          <div class="leave-table" style="margin-bottom:5em;">
            <table mat-table [dataSource]="costCentreList | async" class="mat-elevation-z8">

              <ng-container matColumnDef="COST_CENTRE_NAME">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">
                  {{element.NAME}}
                </td>
              </ng-container>

              <ng-container matColumnDef="Option">
                <th mat-header-cell *matHeaderCellDef> Option </th>
                <td style="width:10%;" mat-cell *matCellDef="let element">
                  <ion-row>
                    <ion-item [routerLink]="['/cost-centre-setup-edit',{id:element.COST_CENTRE_GUID}]">
                      <ion-icon name="md-clipboard"></ion-icon>
                    </ion-item>

                    <ion-item (click)='onDeleteCostCentre(element.COST_CENTRE_GUID)'>
                      <ion-icon color=danger name="md-trash"></ion-icon>
                    </ion-item>
                  </ion-row>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
            </table>
          </div>
    </div>

</ion-content>
