  <ion-content padding>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
  
        <ion-tab-button tab="cost-centre-setup">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Cost Center</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="branch-setup">
          <ion-icon name="contacts"></ion-icon>
          <ion-label>Branch</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="section-setup">
          <ion-icon name="map"></ion-icon>
          <ion-label>Section</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="role-setup">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>Role</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="leave-type-setup">
          <ion-icon name="clipboard"></ion-icon>
          <ion-label>Leave Type</ion-label>
        </ion-tab-button>
  
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>