<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Branch Setup
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
 <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Branch name" formControlName="branchName">
        </mat-form-field>

    </div>
    <div style="text-align:center;">
        <button style="margin-top:3em;" type="submit" [disabled]="!form.valid" mat-flat-button color="primary">Submit</button>
    </div>
</form>
</ion-content>